<div class="card my-1 border-brown">
    <div class="card-header bg-brown p-1 bg-brown">
        <div class="row">            
            <p class="col-md-12 my-0 text-pistacho ">Comment by: {{user.name}} - On {{format_date date_commented}}</p>
        </div>
    </div>
    <div class="card-body p-1 bg-pistacho">
        <p class="">{{comment}}</p>
    </div>
    <div class="card-footer py-1 px-2 bg-brown">
    </div>
</div>
