<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>

  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="bg-pistacho">
  <div class="flex-column justify-space-around">
    <header class="p-2 bg-brown">
      <div class="p-3">
        <nav>
          <a class="p-2 text-pistacho fs-3 text-decoration-none custom-nav" href="/">Home</a>
          <a class="p-2 text-pistacho fs-3 text-decoration-none custom-nav" href="/Dashboard">Dashboard</a>
          {{#if logged_in}}
          <a class="p-2 text-pistacho fs-3 text-decoration-none custom-nav" href="#" id="logout">logout</a>          
          {{else}}
          <a class="p-2 text-pistacho fs-3 text-decoration-none custom-nav"  href="/login">login</a>
          {{/if}}
        </nav>
      </div>
      <div class="bg-pistacho px-4 my-4 ms-4 rounded cst-shadow d-inline-block">
        <h1>
          <p class="px-2 py-0 my-0 text-brown fw-bold text-decoration-none custom-title">{{maintitle}}</p>
        </h1>
      </div>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>

    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>