{{#if logged_in}}
<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
    </div>
</div>

<div class="card my-1 border-brown">
    <div class="card-header bg-brown p-1 bg-brown">
        <h3 class="text-pistacho">Create a New Entry:</h3>
    </div>
    <div class="card-body p-1 bg-pistacho">
        <div class="row mt-4">
            <div class="col-md-12">
                <form class="form blog-form">
                    <div class="form-group mx-3 mb-2">
                        <input class="blog-title fs-4 form-input border-0" type="text" id="blog-name"
                            name="project-name" placeholder="Post Title" />
                    </div>
                    <div class="form-group mx-3 mb-2">
                        <textarea class="blog-textarea fs-5 form-input border-0 " id="blog-content" name="blog-content"
                            placeholder="Post Content"></textarea>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card-footer py-1 px-2 bg-brown">
        <div class="form-group text-center mt-2">
            <button type="submit" class="btn btn-primary" id="postbtn">Post</button>
        </div>
    </div>
</div>
<script src="./js/post.js"></script>
{{else}}
<div class="text-center mt-2">
    <div class="row d-inline-flex align-items-center">
        <a href="/login" class="col-auto m-0 p-0">Log In</a>
        <p class="col-auto m-0 p-0">&nbsp;to post an entry</p>
    </div>
</div>
{{/if}}
<section>
    {{#each blogs }}
    {{> blogcard}}
    {{/each}}
</section>
<script src="./js/homepage.js"></script>