<div class="card m-4 border-brown">
    <div class="card-header bg-brown p-1">
        <h4 class="col-md-8 text-pistacho">Log In</h4>
    </div>
    <div class="card-body p-1 bg-pistacho">
        <form class="mx-4">
            <div class="form-group">
                <label for="username" class="text-brown fw-bold fs-5" >Username</label>
                <input type="text" class="form-control" id="username">
            </div>
            <div class="form-group">
                <label for="password" class="text-brown fw-bold fs-5">Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <button type="submit" class=" my-3 btn btn-login custom-btn bg-brown text-pistacho">Log In</button>
        </form>
    </div>
    <div class="card-footer py-1 px-2 bg-brown">
        <a href="/register" class="m-0 text-pistacho custom-nav">Create an account</a>
    </div>
</div>