.bg-brown {
  background-color: rgb(35, 16, 16);
}

.bg-pistacho {
  background-color: rgb(217, 234, 211);
}

.text-brown {
  color: rgb(35, 16, 16);
}

.text-pistacho {
  color: rgb(217, 234, 211);
}

.cst-shadow {
  box-shadow: 8px 8px 0px 0px rgb(139, 139, 139);
}

a.custom-title:hover {
  color: rgb(87, 41, 41);
}

a.custom-nav:hover {
  color: rgb(147, 160, 143);
}

.border-brown {
  border-width: 3px;
  border-radius: 8px;
  background-color: rgb(35, 16, 16);
  border-color: rgb(35, 16, 16);
}
.btn-login.custom-btn:hover {
  color: rgb(147, 160, 143);
}

.blog-textarea,
.blog-title {
  color: #000000;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
}

.blog-textarea {
  resize: none;
  height: calc(100% - 63px);
  padding-top: 15px;
}
.title-input{
  background-color: rgb(35, 16, 16);
  outline: none;
  border: none;
  
}
.title-input::placeholder{
  color: rgb(217, 234, 211);
}
.body-textarea{
  background-color: rgb(217, 234, 211);
  resize: none;
  height: calc(100% - 63px);
  padding-top: 15px;
  width: 100%;
}